<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static',filename="style.css") }}">
    <title>Análise de FRAUDE</title>
</head>
<body>
    {% block content %}    
    {% endblock %}    
    <footer class="footer text-center text-secondary">
        <span class="align-bottom"><small>Rogério de Oliveira</small></span>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename="js/bootstrap.min.js") }}"></script>
</html>