{% extends 'base.html' %}
    {% block content %}
    <section class="bg-light">
        <div class="container" >
        <h1 class="text-center text-info">Detector de Fraude</h1>
        <p class="text-center text-info">Sistema de Identificação de Fraudes com base em palavras utilizando IA</p>
        <p class="text-center text-info">Copie e cole (ou digite) o conteudo do e-mail (texto) no campo abaixo e Clique no botão Analisar</p>
            <!-- <form method="POST" action="/predict"> -->
            <form method="POST" action="/predict">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.texto(class='form-control', cols="35", rows="14") }}
                </div>
                <div class="text-center pb-5">
                    <input class="btn btn-info btn-lg" type="submit" value="Analisar">
                </div>
            </form>
        </div>
    </section>
    {% endblock%}