<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename="css/bootstrap.min.css") }}">
    <title>Home</title>
</head>
<body>

    <h1>Detector de Fraude</h1>
    <p>Sistema de Identificação de Fraudes com base em textos utiliznado IA</p>
    
</body>
<script src="{{ url_for('static',filename="js/bootstrap.min.js") }}"></script>
</html>